:root {
  --main-bg-color: #f0f1f4;
  --primary-color: #363843;
  --secondary-color: #575d759c;
  --primary-border-color: #7274826e;
  --primary-hover-color: #66615b;
  --primary-heading-color: #000000;
  --table-bg-color: #e2e5ef73;
  --primary-btn-bg-color: #575d75;
  --primary-btn-text-color: #ffffff;
  --primary-btn-disabled-bg-color: #575d7559;
}
