@import '../../Inter-Font/inter';

body {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

h1 {
  @include xlText;
  color: var(--primary-heading-color);
  font-weight: 800;
  margin-bottom: 1em;
}
